body {
    margin: 0;
    padding: 0;
    color: rgb(203, 238, 212);
    background-size: cover;
    position: sticky;
    letter-spacing: 1rem;
    font-weight: 600;
    font-family: fantasy;
    background-color: black;
    border: cornsilk;
    font-family: 'Bangers', cursive;
    font-size: 16px;
    text-align: center;
}

h1 {
    padding-top: 4rem;
    font-family: "Bangers", cursive;
    font-size: 10rem;
    color: red;
    text-shadow: -10px 8px yellow;
    line-height: 1;
    -ms-transform: skewY(-5deg);
    /* IE 9 compatibility */
    transform: skewY(-5deg);
    margin-top: .75rem;
    -webkit-text-stroke: 5px blue;
}

#dc {
    padding-top: 4rem;
    font-family: "Bangers", cursive;
    font-size: 10rem;
    color: yellow;
    text-shadow: -10px 8px gray;
    line-height: 1;
    -ms-transform: skewY(-5deg);
    /* IE 9 compatibility */
    transform: skewY(-5deg);
    margin-top: .75rem;
    -webkit-text-stroke: 5px black;
}


.top {
    padding-top: 5%;
    -webkit-animation-delay: 1s;
}

#hero-search {
    font-family: "Bangers", cursive;
    font-size: xx-large;
    color: white;
    background-position: center;
    background-size: 5rem;
    background-blend-mode: darken;
    background-color: #ffff0088;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    border: 5px solid black;
    text-align: center;
}

.search-row {
    display: inline;
    padding-top: 1rem;
    height: 4rem;
}

#searchButton {
    font-size: 5px;
    width: 80px;
    height: 70px;
    padding-bottom: 10px;
}



.search {
    width: 100%;
    position: realtive;
    display: flex;
}

#canvas-image-blending {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.slideshow {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.images {
    background: url(assets/superimage.jpg);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300%;
    animation: slideshow 10s linear infinite;
    margin-top: 20px;
}

@keyframes slideshow {
    0% {
        left: 0;
    }
    100% {
        left: -50%;
    }
}

.main-area {
    display: -webkit-inline-flex;
    grid-gap: 20px;
    grid-template-areas: 'showcase showcase top-box-a' 'showcase showcase top-box-b'
}

.showcase {
    grid-area: showcase;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    box-shadow: var(--shadow);
    width: 100%;
}

.description {
    text-align: left;
    font-size: small;
    margin-top: 10px;
    padding: 20px 20px;
    -webkit-animation-delay: 1s;
    outline: auto;
    outline-color: white;
}

.description h4 {
    text-align: center;
    padding-bottom: 4px;
}

.stats-input {
    display: inline-block;
    color: white;
    font-size: large;
    text-align: left;
    padding-left: 3rem;
    -webkit-animation-delay: 1s;
    outline: auto;
    outline-color: white;
   
    vertical-align: top;
    
   
}

.stats th {
    outline: auto;
    font-size: large;
    outline: auto;
}

.giphy {
    -webkit-animation-delay: 1s;
    outline: auto;
    outline-color: white;
}

.giphy img {
    padding-bottom: 10px;
    display: table-column-group;
}

h2 {
    font-size: x-large;
}

#searchButton {
    color: red;
}

.movies {
    -webkit-animation-delay: 1s;
    font-size: small;
    outline: auto;
    outline-color: white;
}

.Comics {
    text-align: center;
    font-size: medium;
    margin-top: 10px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    text-align: center;
    padding: 35px 35px;
    text-align: center;
    margin-bottom: 0;
}

#footer {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

a {
    font-weight: bold;
    color: red;
    font-size: x-large;
}

#footer-text {
    font-size: small;
}

i {
    color: white;
    size: 3x;
}



