/*-- BODY --*/
body{
    margin: 0;
    padding: 0;
    color: rgb(203, 238, 212);
    background-size: cover;
    position: sticky;
    letter-spacing: 1rem;
    font-weight: 600;
    font-family: fantasy;
    background-color: black;
    border: cornsilk;
 }




h1 {
    text-align: center;
}

.jumbotron {
    background-image: url("./assesst/image/superimage.jpg");
    background-size: cover;
  }