

/*-- BODY --*/
body{
    margin: 0;
    padding: 0;
    color: rgb(203, 238, 212);
    background-size: cover;
    position: sticky;
    letter-spacing: 1rem;
    font-weight: 600;
    border: cornsilk;
    font-family: 'Bangers', cursive;
    font-size: 16px;

 }



 
  

h1 {
    text-align: center;
}

.top {
    border: solid;
    padding-top: 5%;
}

#canvas-image-blending {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}


/*-- Jumbotron Image --*/
.jumbotron {
    background-image: url("./assesst/image/superimage.jpg");
    background-size: cover;
    display: block;
  }

  .main-area {
      display: grid;
      grid-gap: 20px;
      grid-template-areas: 
      'showcase showcase top-box-a'
      'showcase showcase top-box-b'

  }

  .showcase {
      grid-area: showcase;
      display: flex;
      flex-direction: column;
      padding: 3rem;
      box-shadow: var(--shadow);
  }


   .description img{
        height: 300px ;
        width: 300px;
  } 
   

  .description {
      text-align: left;
      outline: auto;
      font-size: small;
      margin-top: 10px;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
  }

  .description h4 {
      text-align: center;
      padding-bottom: 4px;
  }

  .stats-input {
     display: inline;
     color: white;
     font-size: medium;
     text-align: left;
     padding-left: 10px;
     padding-bottom: -300px;

  }
  
  .stats th {
      outline: auto;
      font-size: large;
      outline: auto;

  }

  .giphy img {
      padding-bottom: 10px;
      outline: auto;
      display: table-column-group;

  }
  
  #hero-search {
      color: white;
  }
  
  h2 {
      font-size: x-large;
  }

  #searchButton {
      color: cornsilk;
  }

  .movies {
      padding-bottom: 200px;
      padding-left: 50px;
  }

  .Comics {
    text-align: left;
    outline: auto;
    font-size: small;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
