

/*-- BODY --*/
body{
    margin: 0;
    padding: 0;
    color: rgb(203, 238, 212);
    background-size: cover;
    position: sticky;
    letter-spacing: 1rem;
    font-weight: 600;
    font-family: fantasy;
    background-color: black;
    border: cornsilk;
 }



 
  

h1 {
    text-align: center;
}

#canvas-image {
    position: absolute;
    display: block;
    width: 640px;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}


/*-- Jumbotron Image --*/
.jumbotron {
    background-image: url("./assesst/image/superimage.jpg");
    background-size: cover;
    display: block;
  }

  .main-area {
      display: grid;
      grid-gap: 20px;
      grid-template-areas: 
      'showcase showcase top-box-a'
      'showcase showcase top-box-b'

  }

  .showcase {
      grid-area: showcase;
      display: flex;
      flex-direction: column;
      padding: 3rem;
      box-shadow: var(--shadow);
  }


   .Images img{
    
  } 
   

  .description {
      text-align: left;
      outline: auto;
      background-color: red;
      font-size: small;
  }

  .description h4 {
      text-align: center;
      padding-bottom: 4px;
  }

  .stats-input {
     display: inline;
     color: white;

  }
  
  .stats th {
      outline: auto;
      font-size: large;
      outline: auto;

  }

  .giphy img {
      padding-bottom: 10px;
      outline: auto;
      display: table-column-group;

  }
  
  

